.row {
  display: flex;
  align-items: center;
  justify-content: center;
  // border: 3px solid black;
}

.ItemsCol {
  text-align: center;
  // display: flex;
  // flex-direction: column;
  // justify-content: center;
  // align-items: center;
}
