.Card {
  margin: 1rem;
  box-shadow: 1px 1px 1px #cccccc;
  .card-header {
    font-weight: bold;
    text-align: center;
  }
  .card-body {
    .error {
      color: red;
    }
  }
  .card-footer {
    button {
      margin: 0.2rem;
    }
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
}
