.Auth {
  text-align: center;
  border: 2px solid black;
  width: 30%;
  margin: auto;
  position: relative;
  top: 10vh;
  padding: 2rem;
  box-shadow: 3px 3px 3px grey;
}

.Logout {
  text-align: center;
  border: 2px solid black;
  width: 30%;
  margin: auto;
  position: relative;
  top: 10vh;
  padding: 2rem;
}
